html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
Global styles 
*/
:root {
  --primaryColor: #cca8e9;
  --secondaryColor: #c3bef0;
  --tertiaryColor: #cadefc;
  --cuarterColor: #defcf9;

  --textColor: rgba(51, 51, 51, 1);

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

body {
  /*background-image: var(--gradient);*/
  background-color: var(--tertiaryColor);
  background-repeat: no-repeat;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  line-height: 1rem;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 24px;
  box-shadow: 0px 18px 33px 0px rgb(178 200 234);
  display: block;
  margin: 2rem auto;
  max-width: 600px;
  padding: 1rem 2rem;
}

select {
  /* A reset of styles, including removing the default dropdown arrow*/
  appearance: none;
  /* Additional resets for further consistency*/
  background-color: transparent;
  border: none;

  cursor: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 1rem;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

.select-style {
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  border: 1px solid var(--select-border); /*var(--select-border)*/
  border-radius: 12px;
  color: var(--textColor);
  cursor: pointer;
  display: grid;
  font-size: 1rem;
  line-height: 1.1rem;
  padding: 1rem;
  width: 100%;
}

.select::after {
  content: "\f007";
  /*
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  content: "";
  height: 0.5em;
  width: 0.8em;*/
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.city {
  align-items: center;
  border-bottom: 1px dashed var(--tertiaryColor);
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
  padding-bottom: 2rem;
}

.city:last-child {
  border-bottom: none;
}

.date {
  color: var(--textColor);
  font-size: 0.875rem;
  line-height: 0.875rem;
  opacity: 0.8;
}

.time {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0;
}

small {
  font-size: 1.5rem;
  vertical-align: middle;
}

footer {
  background-color: rgb(202 222 252 / 20%);
  border-radius: 4px;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 1rem auto 1rem;
  padding: 1rem 0;
  text-align: center;
}
