html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
Global styles 
*/
:root {
  --primaryColor: hsl(216 89% 63% / 1);
  --secondaryColor: #cadefc;

  --textColor: rgba(51, 51, 51, 1);
}

body {
  /*background-image: var(--gradient);*/
  background-color: var(--secondaryColor);
  background-repeat: no-repeat;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  line-height: 1rem;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 24px;
  box-shadow: 0px 18px 33px 0px rgb(178 200 234);
  display: block;
  margin: 2rem auto;
  max-width: 600px;
  padding: 1rem 2rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* styling */
  background-color: #fff;
  border: thin solid var(--primaryColor);
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  /* reset */
  margin: 0;
  padding: 0.5em 3.5em 0.5em 1em;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, hsl(216 89% 43% / 1) 50%),
    linear-gradient(135deg, hsl(216 89% 43% / 1) 50%, transparent 50%),
    linear-gradient(to right, var(--primaryColor), var(--primaryColor));
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border: 2px solid var(--primaryColor);
  width: 100%;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, hsl(216 89% 43% / 1) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, hsl(216 89% 43% / 1) 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border: 2px solid var(--primaryColor);
  box-shadow: 0px 13px 13px -19px hsl(216 89% 43% / 1);
  outline: 0;
}

select:-moz-focusing {
  color: transparent;
  text-shadow: 0 0 0 #333;
}

select::-ms-expand {
  display: none;
}

.city {
  align-items: center;
  border-bottom: 1px dashed var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
  padding-bottom: 2rem;
}

.city:last-child {
  border-bottom: none;
}

.date {
  color: var(--textColor);
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 0.875rem;
  opacity: 0.7;
  text-transform: uppercase;
}

.time {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0;
}

small {
  font-size: 1.5rem;
  vertical-align: middle;
}

footer {
  background-color: rgb(202 222 252 / 20%);
  border-radius: 4px;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 1rem auto 1rem;
  padding: 1rem 0;
  text-align: center;
}

footer a {
  color: var(--primaryColor);
  transition: all 300ms ease-in-out;
}

footer a:hover {
  color: hsl(216 89% 43% / 1);
  transition: all 300ms ease-in-out;
}
