html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
Global styles 
*/
:root {
  --primaryColor: #625ef5; /*hsl(216 89% 63% / 1);*/
  --secondaryColor: #b7b5ff;
  --tertiaryColor-10: #eff0ff;
  --tertiaryColor-20: #d1d1f7;
  --tertiaryColor-30: #b2b3f1;
  --tertiaryColor-40: #9f92ec; /* No usado por el momento*/
  --tertiaryColor-60: #4b42ad;
  --textColor: rgba(51, 51, 51, 1);
  --textColorLight: rgb(124 124 148);
  --primaryFontFamily: "Montserrat", Helvetica, Arial, sans-serif;
  --fontWeightNormal: 400;
  --fontWeightBold: 700;
  --fontWeightExtraBold: 800;
  --numericFontFamily: "Inconsolata", monospace;
}

body {
  /*background-image: var(--gradient);*/
  background-color: var(--tertiaryColor-20);
  background-repeat: no-repeat;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: var(--primaryFontFamily);
  font-weight: var(--fontWeightBold);
}

h1 {
  color: var(--primaryColor);
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0.8rem 0;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 24px;
  box-shadow: 0px 18px 33px 0px var(--tertiaryColor-30);
  display: block;
  margin: 2rem auto;
  max-width: 600px;
  padding: 1rem 2rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* styling */
  background-color: #fff;
  border: thin solid var(--primaryColor);
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  /* reset */
  margin: 0;
  padding: 0.5em 3.5em 0.5em 1em;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, var(--secondaryColor) 50%),
    linear-gradient(135deg, var(--secondaryColor) 50%, transparent 50%), linear-gradient(to right, #b7b5ff, #b7b5ff);

  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border: 2px solid #b7b5ff;
  width: 100%; /*var(--primaryColor);*/
}

select.minimal:focus {
  background-image: linear-gradient(45deg, var(--primaryColor) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--primaryColor) 50%),
    linear-gradient(to right, var(--primaryColor), var(--primaryColor));
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border: 2px solid var(--primaryColor);
  box-shadow: 0px 13px 13px -19px hsl(216 89% 43% / 1);
  outline: 0;
}

select:-moz-focusing {
  color: transparent;
  text-shadow: 0 0 0 #333;
}

select::-ms-expand {
  display: none;
}

.city {
  align-items: center;
  border-bottom: 1px dashed var(--tertiaryColor-20);
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
  padding-bottom: 2rem;
}

.city:last-child {
  border-bottom: none;
}

.date {
  color: var(--textColorLight);
  font-family: var(--numericFontFamily);
  font-size: 0.875rem;
  letter-spacing: 3px;
  line-height: 0.875rem;
  opacity: 0.7;
  text-transform: uppercase;
}

.time {
  font-family: var(--numericFontFamily);
  font-size: 3rem;
  font-weight: var(--fontWeightExtraBold);
  line-height: 3.5rem;
}

small {
  font-family: var(--primaryFontFamily);
  font-size: 1.5rem;
  font-weight: var(--fontWeightBold);
  vertical-align: middle;
}

footer {
  background-color: var(--tertiaryColor-10);
  border-radius: 4px;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 1rem auto 1rem;
  padding: 1rem 0;
  text-align: center;
}

footer a {
  color: var(--primaryColor);
  transition: all 300ms ease-in-out;
}

footer a:hover {
  color: var(--tertiaryColor-60);
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 480px) {
  .wrapper {
    margin: 1rem;
    max-width: 600px;
    padding: 1rem;
  }

  .city {
    align-items: flex-start;
    flex-direction: column;
    min-height: 160px;
  }

  .time {
    padding-top: 1rem;
  }
}
